.hello {
    font-size: 40px;
    background-color:  rgb(220, 220, 220);
    color: rgb(80, 80, 80);
    text-align: center;
    margin-bottom: 0px;

}

.cursor {
    height: 19px;
    font-size: 50px;
    animation: blink .4s linear infinite alternate;

}

@keyframes blink {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
  }

.vincent {
    font-size: 40px;
    background-color:  rgb(220, 220, 220);
    color: rgb(80, 80, 80);
    text-align: center;
    margin-bottom: 0px;

}


.container {
    display:flex;
    flex-direction: column;

}

.top {
    border-top: 5px;
    background-color:  rgb(220, 220, 220);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    flex-wrap: wrap;
    height: 100vh;


}   


.about {
    border-top: solid;
    border-color: black;
    border-top-width: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 100vh;

}

.aboutind {
    flex: 40%;
    text-align: center;
    background-color: rgb(241, 255, 228);
    outline: 1px solid black;
    min-width: 250px;
    align-items: center;

}

.aboutimgs{
    width: 75px;
    height: 75px;
    padding-top: 20px;
    opacity: .65;
    position: relative;
}

@keyframes spin{
    0%   {top: 0px; left:0px}
    25%  {top: 30px;left:30px}
    50%  {top: 75px;left:75px}
    75%  {top: 30px;left:30px}
    100% {top: 0px;left:0px}
}

.aboutimgs:hover{
    width: 75px;
    height: 75px;
    animation: spin 1s;
    padding-top: 20px;
    opacity: .65; 
}

.aboutheaders{
    color: rgb(80, 80, 80);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.aboutsections {
    display: flex;
    flex-wrap: wrap;  
    flex: 20%;
    background-color: rgb(255, 225, 228);
    border: -1px;
    min-height: 100vh;
    align-items: stretch;

    }


.aboutmain {
    text-align: center;
    align-items: center;
    background-color: rgb(255, 228, 231);
    padding-left: 30px;
    padding-right: 30px;

    
}

.holder {
    font-size: 20px;
    background-color: rgb(255, 228, 231);


}

.projects{
    border-top: solid;
    border-color: black;
    border-top-width: 1px;
    background-color: aquamarine;
    min-height: 100vh;

}

.projectspara{
    background-color: aquamarine;
}

.experience{
    border-top: solid;
    border-color: black;
    border-top-width: 1px;
    background-color: rgb(255, 127, 127);
    min-height: 100vh;

}

.experiencepara{
    background-color: rgb(255, 127, 127);
}

.education{
    border-top: solid;
    border-color: rgb(0, 0, 0);
    border-top-width: 1px;
    background-color: beige;
    min-height: 100vh;


}

.educationpara{
    background-color: beige;
}

.whole{
    display: flex;
    flex-direction: column;
}

