p.container {
    font-size: 100px;
    background-color:  rgb(220, 220, 220);
    color: rgb(80, 80, 80);

   
}

.body1 {
    background-color:  rgb(0, 220, 220);
}   

.body2 {
    padding-top: 300px;
    margin-bottom: 0px;
}

.whole{
    display: flex;
    flex-direction: column;
}