.hello {
    font-size: 40px;
    color: rgb(63, 136, 197);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 30px;

}

.everything{
    max-width: 100vw;
}

.cursor {
    height: 19px;
    font-size: 50px;
    -webkit-animation: blink .4s linear infinite alternate;
            animation: blink .4s linear infinite alternate;

}

.imgtest{
    -webkit-filter: drop-shadow(1px 1px 0 black)
        drop-shadow(-1px -s1px 0 rgb(0, 0, 0));
    filter: drop-shadow(1px 0px 5px rgba(63, 136, 197))
            drop-shadow(1px 0px 5px rgba(63, 136, 197)); 
    align-self: center;
    padding-bottom: 100px;
    padding-top: 100px;
    -webkit-animation: surf 10s infinite;
            animation: surf 10s infinite;
    width: 400px;
    height: 434px;
    overflow-x: hidden;

}



@-webkit-keyframes surf {
    0% {transform: rotate(0deg);}
    9% {transform: rotate(10deg);}
    18% {transform: rotate(-10deg);}
    27% {transform: rotate(10deg);}
    36% {transform: rotate(-10deg);}
    45% {transform: rotate(10deg);}
    54% {transform: rotate(-10deg);}
    63% {transform: rotate(10deg);}
    72% {transform: rotate(-10deg);}
    81% {transform: rotate(10deg);}
    90% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}

  }



@keyframes surf {
    0% {transform: rotate(0deg);}
    9% {transform: rotate(10deg);}
    18% {transform: rotate(-10deg);}
    27% {transform: rotate(10deg);}
    36% {transform: rotate(-10deg);}
    45% {transform: rotate(10deg);}
    54% {transform: rotate(-10deg);}
    63% {transform: rotate(10deg);}
    72% {transform: rotate(-10deg);}
    81% {transform: rotate(10deg);}
    90% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}

  }

@-webkit-keyframes blink {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
  }

@keyframes blink {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
  }

  .iam{
    margin-bottom: 0px;
    font-weight: 800;
    overflow-wrap: break-word;
    padding-right: 25px;
    color:rgb(63, 136, 197);
    font-weight: 500;
    font-size: 45px;
    padding-top: 2px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.vincent {
    color: rgb(18, 102, 79);
    text-align: center;
    margin-bottom: 0px;
    font-weight: 800;
    font-size: 45px;
    overflow-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
    display:flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;

}

.top {
    display: flex;
    background-color: rgb(221, 221, 221);
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 250px;
    min-height: 102vh;
    background-color:#fff;
    background-image:radial-gradient(transparent 0%, rgb(220,220,220) 70%, rgb(220,220,220) 100%, transparent 0%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N89+7dfwYsQEhIiBEkzDgkFGDzAbIY2Cv4AACvrBgJjYNGfwAAAABJRU5ErkJggg==);
    background-attachment: fixed;
}   


.about {
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    min-height:  150vh;
    outline: 2px solid rgb(150, 195, 255);

}

.aboutind {
    flex: 30%;
    text-align: center;
    min-width: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    min-height: 500px;
}

.aboutimgs{
    width: 100px;
    height: 100px;
    opacity: .85;
    position: relative;
    transition: .75s;
    margin-top: 40px;
    padding-bottom: 10px;
}

@-webkit-keyframes spin {
  0% {
    rotate: 0 1 1 0deg;
}
  100% {
    rotate: 1 1 1 360deg;

}
}

@keyframes spin {
  0% {
    rotate: 0 1 1 0deg;
}
  100% {
    rotate: 1 1 1 360deg;

}
}


.aboutimgs:hover {
    transform: rotate(360deg);
  }

.aboutheaders{
    color: rgb(150, 195, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.aboutline{
    width: 50px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: solid;
    border-color: rgb(255, 255, 255);
    border-top-width: 2px;

}

.abouttext{
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 2px;
    line-height: 25px;
    word-spacing: 2px;
    padding-bottom: 30px;
    
}

.aboutsections {
    display: flex;
    flex-wrap: wrap;  
    background-color: rgb(22, 22, 22);
    justify-content: center;
    flex: 10%;
    align-self: stretch;
}



.aboutmain {
    padding-left: 30px;
    padding-right: 30px;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(90, 90, 90));
    flex: 1;
    

}

.stick{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 85px;
    align-items: center;
}


.aboutmainword{
    font-size: 50px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255); 

}

.buttonresume{
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 35px;
    color:  rgb(46, 46, 46);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(150, 195, 255) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease;
    cursor: pointer;

    
}

.buttonresume:hover{
    color: rgb(0, 0, 0);
    background-position: left bottom;
    
}


.icons{
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 60px;
    padding-top: 30px;
    padding: 20px;
    margin-bottom: 10px;
    
}

.iconind{
	-webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
	        filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
    padding-top: 30px;
    padding-bottom: 30px;
    color: hsl(0, 76%, 42%);


}

.iconind:hover{
    transform: scale(1.3);
    transition: .4s ease-out;
}


.projects{
    border-top: solid;
    border-color: rgb(150, 195, 255);
    border-top-width: 2px;
    background-image: linear-gradient(45deg, transparent 20%,  rgb(176, 217, 255) 25%, transparent 25%),
                      linear-gradient(-45deg, transparent 20%,  rgb(176, 217, 255) 25%, transparent 25%),
                      linear-gradient(-45deg, transparent 75%,  rgb(176, 217, 255) 80%, transparent 0),
                      radial-gradient( rgb(176, 217, 255) 1px, transparent 0);   
    background-size: 30px 30px, 30px 30px;
    background-color: rgb(230, 230, 230);
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;

}

.animator{
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.projmain{
    display: flex;
    flex-direction: column;
    margin: 0px;
}


.projallsec {
    margin-top: -45px;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 130px;
    overflow: hidden;
}

.projsecright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    flex-wrap: wrap;
    padding-left: 200px;

}

.projsecleft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    flex-wrap: wrap;
    padding-right: 200px;

}

.projpara{
    border-bottom: solid;
    border-color: rgb(10, 36, 99);
    border-bottom-width: 1px;
    flex-wrap: wrap;
    font-size: 18px;
    max-width: 420px;
    padding-right: 75px;
    padding-bottom: 30px;
    word-spacing: 5px;
    letter-spacing: 2.5px;
    line-height: 25px;
}

.projpara2{
    border-bottom: solid;
    border-color: rgb(10, 36, 99);
    border-bottom-width: 1px;
    flex-wrap: wrap;
    font-size: 18px;
    max-width: 420px;
    padding-right: 75px;
    padding-bottom: 30px;
    word-spacing: 5px;
    letter-spacing: 2.5px;
    line-height: 25px;
}

.buttonproj{
    padding: 25px;
    letter-spacing: 2px;
    font-size: 20px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 50px;
    background: linear-gradient(to left, rgba(197, 220, 255, 0.514) 50%, rgb(10, 36, 99) 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 1s ease;
    cursor: pointer;
    
    
}

.buttonproj:hover{
    background-position: left;
    color: rgb(255, 255, 255);
    
}



.experience{
    border-top: solid;
    border-color: black;
    background-color: rgb(48, 48, 48);
    background-image: linear-gradient(45deg, transparent 20%, rgb(35, 35, 35) 10%, transparent 25%),
                        linear-gradient(-45deg, transparent 20%, rgb(35, 35, 35) 10%, transparent 25%),
                        linear-gradient(-45deg, transparent 75%, rgb(35, 35, 35) 80%, transparent 0),
                        linear-gradient(45deg, transparent 75%, rgb(35, 35,35) 80%, transparent 0);
    background-attachment: fixed;
    border-top-width: 1px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;
    overflow-x: hidden;
    max-width: 100%;



}

.experiencemain{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    position: -webkit-sticky;
    position: sticky;
    flex-wrap: nowrap;
    max-width: 100%;

}

.expsections{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftarrow{
	width: 30px;
	height: 30px;
	transform: rotate(-45deg);

}

.leftarrow::before{
	content: '';
    width: 100%;
	height: 100%;
	border-width: 10px 0 0 10px;
	border-style: solid;
	border-color: rgb(151, 151, 151);
	transition: .2s ease;
	display: block;
	transform-origin: 0% 0%;
	
}

.leftarrow::after{
    content: '';
    float: left;
    position: relative;
    top: -111%;
    width: 100%;
    height: 0%;
    border-width: 0 0 0 10px;
    border-style: solid;
    transform-origin: 0% 0%;
    transition:.2s ease;
}

.leftarrow:hover::after{
    transform: rotate(-45deg);
    border-color: rgb(255, 255, 255);
    border-width: 0 0 0 8px;
    height: 170%;
    width: 100%;
    cursor: pointer;

}

.leftarrow:hover::before{
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    height: 100%;
    width: 100%;
    transform: scale(.8);
}

.rightarrow{
	width: 30px;
	height: 30px;
	transform: rotate(-225deg);
}

.rightarrow::before{
	content: '';
    width: 100%;
	height: 100%;
	border-width: 10px 0 0 10px;
	border-style: solid;
	border-color: rgb(151, 151, 151);
	transition: .2s ease;
	display: block;
	transform-origin: 0% 0%;
	
}

.rightarrow::after{
    content: '';
    float: left;
    position: relative;
    top: -111%;
    width: 100%;
    border-width: 0 0 0 0;
    border-style: solid;
    transform-origin: 0% 0%;
    transition: .2s ease;
}

.rightarrow:hover::after{
    transform: rotate(-45deg);
    border-color: rgb(255, 255, 255);
    border-width: 0 0 0 8px;
    height: 170%;
    width: 100%;
    cursor: pointer;

}

.rightarrow:hover::before{
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    height: 100%;
    width: 100%;
    transform: scale(.8);
}


.arrowsdiv1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowsdiv2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrowsdiv2mobile{
    display: none;
}

.oldnew{
    padding-top: 10px;
    font-size: 17px;
    color: rgb(190, 190, 190);
    font-weight: bold;
}

.oldnew:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s ease;
    color: white;
}

.indexpsec{
    outline: 1px solid;
    max-width: 400px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 2px;
    line-height: 25px;
    word-spacing: 2px;
    color: white;
    background-color: black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    -webkit-animation: inout .6s ease-in-out;
            animation: inout .6s ease-in-out;
}

.sechide{
    overflow: hidden;
    height: 0;
    width: 0;
    left: -10px;
    
}

@-webkit-keyframes inout {
    0% {opacity: 0.3;}
    100% {opacity: 1;}
  }

@keyframes inout {
    0% {opacity: 0.3;}
    100% {opacity: 1;}
  }


.expheader{
    color: rgb(220, 220, 220);
    text-align: center;
}

.exppara{
    padding-top: 25px;
    color: rgb(220, 220, 220);
    padding-top: 0px;
    padding-left: 20px;


}

.date{
    color: rgb(220, 220, 220);
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 20px;

}

.expminiheaders{
    color: rgb(220, 0, 0);
    padding-top: 30px;
    position: relative;

}

.expminiheaders::before{
    content: "";
    width: 22px;
    height: 22px;
    background-image: radial-gradient(rgb(255, 0, 0), rgb(0, 0, 0));
    border-radius: 50px;
    position: absolute;
    left: -44px;
    top: 32px;   
}



.timeline{
    display: flex;
    gap: 30px;
    position: -webkit-sticky;
    position: sticky;

}

.line{
    padding: 3px;
    background-image: radial-gradient(rgb(255, 0, 0), rgb(75, 0, 0));
    border-radius: 10px;
    margin-top: 20px;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 8px;
    background-color: rgb(70, 70, 70);
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover{
    background-color: rgb(120, 120, 120);
}

.activeBt{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 8px;
    border-radius: 50%;
    margin-top: 40px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
}

.education{
    border-top: solid;
    border-color: rgb(0, 0, 0);
    border-top-width: 1px;
    background-color: rgb(220, 220, 220);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.educbox{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}


.educationpara{
    position: relative;
    
}

.lineeducation{
    padding: 1.45px;
    background-image: radial-gradient(rgb(255, 94, 0), rgb(255, 123, 0));
    border-radius: 10px;
    margin-left: 35px;
    margin-bottom: 35px;
    margin-top: 0px;

}

.educminiheaders::before{
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid;
    border-width: 3.2px;
    border-radius: 50px;
    position: absolute;
    left: -41.7px;
    top: 23.5px;   
    background-color: rgb(220, 220, 220);

}


.paraboxtime{
    display: flex;
    max-width: 615px;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.schoolpics{
    width: 100px;
    transition: 0.4s ease;
}

.schoolpics:hover{
    transform: scale(1.2);
}

.whole{
    display: flex;
    flex-direction: column;
}



@media screen and (max-width:1350px) {
    .projsecright {
        padding-left: 50px;
      }
      .projsecleft {
          padding-right: 50px;
    }
    .projpara{
        max-width: 400px;
    }
    .top{
        gap: 150px;
    }

    .imgtest{
        width: 350px;
        height: 379px;
    }
}

  @media screen and (max-width:1150px) {
    .imgtest{
        width: 300px;
        height: 327px;
    }
    .top{
        gap: 100px;
    }
    .projsecright {
        padding-left: 50px;
      }
      .projsecleft {
          padding-right: 50px;
        }
  .vincent{
    font-size: 40px;
  }
  .iam{
    font-size: 40px;
  }
  .hello{
    font-size: 35px;
  }
  .cursor{
    font-size: 45px;
  }
}




@media screen and (max-width:1050px) {
    .projpara{
        max-width: 250px;
    }
    .top{
        flex-direction: column;
        gap: 0px;
    }
    .imgtest{
        padding-top: 0px;
        width: 250px;
        height: 270px;

    }
    .container{
        padding-bottom: 0px;

    }
    .hello{
        margin-bottom: -30px;
        margin-top: 20px;
    }

    .vincent{
        margin-bottom: -20px;
  
    }
    .iam{
        margin-bottom: -20px;
  
    }

    
    .indexpsec{
        margin-left: -15px;
        margin-right: -15px;

    }

    .projpara{
        padding-right: 50px;
    }


}

@media screen and (max-width:1000px) {
    .experience{
        padding-left: 50px;
        padding-right: 50px;
    }

    .arrowsdiv{
        margin: 0px;
    }

    
    .indexpsec{
        margin-left: -25px;
        margin-right: -25px;
    }

}


@media screen and (max-width:900px) {
    .abouttext{
        margin-left: 20px;
        margin-right: 20px;
    }

    .projsecleft{
        padding-left: 20px;
    }

    .projsecright{
        padding-right: 20px;    
    }

    .buttonproj{
        padding-left: 50px;
        padding-right: 50px;
    }

    
    .indexpsec{
        margin-left: -35px;
        margin-right: -35px;
    }

    .educbox{
        gap: 0px;
    }

}


@media screen and (max-width:800px) {
    .abouttext{
        margin-left: 10px;
        margin-right: 10px;
    }

    .projpara{
        padding-right: 25px;
    }

    .projsecleft{
        gap: 75px;
    }

    .projsecright{
        gap: 75px;
    }



}


@media screen and (max-width:755px){
    .container{
        padding-top: 0px;
    }
    .vincent{
        font-size: 35px;
      }
      .iam{
        font-size: 35px;
      }
      .hello{
        font-size: 30px;
        padding-bottom: 20px;
      }
    .top{
        gap: 30px;
    }
    .cursor{
        font-size: 40px;
      }

    .about{
        flex-direction: column;
    }
    .aboutmain{
        order: 1;
        background-image: none;
        background-color: black;
    }
    .stick{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .fixmargin{
        outline: none;
        border-top: solid;
        border-color: rgb(150, 195, 255);
        border-top-width: 1px;
    }
    .aboutsections{
        order: 2;
        margin-top: 0px;
    }
    .aboutind{
        min-height: 0px;
    }
    .projsecleft{
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;

        
    }
    .projsecright{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;


    }
    .projorder1{
        order: 1;

    }
    .projorder2{
        order: 2;
        align-items: flex-end;
    }
    .projpara{
        margin-bottom: -50px;
        border-bottom: none;
        text-align: center;
        max-width: none;
        padding-right: 10px;
        padding-left: 10px;
    }
    .buttonproj{
        margin-top: -50px;
        padding: 30px;
        padding-top: 15px;
        padding-bottom: 15px;

    }
    .experiencemain{
        flex-direction: column;
    }

    .dotsmobile{
        margin-bottom: -62px;
    }

    .arrowsdiv2mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .centerarrow{
        display: flex;
        flex-direction: row;
        gap: 0px;
        justify-content: center;
        padding-bottom: 20px;
    }
    .arrowsdiv2{
        display: none;
    }
    
    .expsections{
        order: 2;
    }

    .projpara2{
        padding-right: 0px !important;
    }

    .educbox{
        flex-direction: column;
        align-items: flex-start;
    }

    .schoolpics{
        padding-left: 20px;
        padding-bottom: 50px;
        margin-top: -10px;
    }

}

@media screen and (max-width:600px) {

    .indexpsec{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:700px) {
    .expsections{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:500px) {
    .expsections{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width:400px) {
    .top{
        padding-left: 0px;
        padding-right: 0px;
    }
    .timeline{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .indexpsec{
        padding-left: 0px;
        padding-right: 0px;
    }
    .expsections{
        padding-left: 15px;
        padding-right: 15px;
    }
    .vincent{
        font-size: 30px;
        padding-right: 10px;
      }
      .iam{
        font-size: 30px;
        padding-left: 10px
      }
      .hello{
        font-size: 25px;
      }
      .cursor{
        font-size: 35px;
      }

}
