.items {
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(80, 80, 80);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    text-decoration: none;
    font-size: 21px;
    background-color:  rgb(220, 220, 220);
    
}

.whole {
    background-color:  rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 27px;

}

.left {
    display: flex;
    background-color:  rgb(220, 220, 220);
    
}

.menu {
    padding-left: 20px;
    padding-top: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color:  rgb(220, 220, 220);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .paren {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 21px;
    font-weight: bold;
    color: rgb(80, 80, 80);
    line-height: 24px;

  }